<!DOCTYPE html>
<html>
  <head>
    <title>Broadway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'shared/nav' %>
    <%= yield %>

    <%= js add_gritter(flash[:notice], title: "DailySmarty Notification", sticky: false, time: 1000) %> 
    <%= js add_gritter(flash[:alert], title: "DailySmarty Notification", sticky: false, time: 1000) %> 
  </body>
</html>
